@font-face {
  font-family: "Elronet";
  src: url(/Elronm.ttf);
}

@font-face {
  font-family: "ElronetBold";
  src: url(/Elronp.ttf);
}

@font-face {
  font-family: "RedHatDisplay";
  src: url(/RedHatDisplay-VariableFont_wght.ttf);
}

:root {
  font-family: RedHatDisplay;
  display: flex;
  flex-direction: column;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(/bg01-color-small.jpg);
  background-size: 250px;
  position: relative; /* Required for absolute positioning of overlay */
}

.root::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* 50% opacity */
}

body {
  background: radial-gradient(ellipse at top, #fffffff7, transparent),
    radial-gradient(ellipse at bottom, #ffffffa0, transparent);
  backdrop-filter: blur(30px);
  border-radius: 25px;
  box-shadow: 1px 11px 20px rgba(0, 0, 0, 0.25);
  max-width: 600px;
  min-width: 330px;
  margin: 15px;
  padding: 15px 15px 30px 15px;
  border: solid black 2px;
}

input {
  min-width: 300px;
  border: solid 1px lightgray;
  padding: 5px 12px;
  margin: 10px 0;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 8px;
}

textarea {
  min-width: 250px;
  border: solid 1px lightgray;
  padding: 5px 12px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 25px;
}

select {
  min-width: 250px;
  border: solid 1px lightgray;
  padding: 5px 12px;
  margin: 2px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 8px;
}

a {
  text-decoration: none;
  color: black;
}

button {
  background-color: rgb(22, 22, 22);
  border: none;
  color: white;
  border-radius: 15px;
  padding: 8px 10px;
  margin: 2px;
  transition: all ease 0.2s;
}

button:hover {
  transform: scale(1.05);
}

.welcome-header {
  margin: 15px 0 10px 0;
}

.welcome-name {
  background-color: black;
  color: white;
  padding: 5px 10px;
  margin-top: 0;
  margin-bottom: 20px;
  border: double 7px white;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.2);
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  font-size: x-large;
  transform: rotate(-3deg);
  font-family: Elronet;
}

.home-container {
  display: flex;
  flex-direction: column;
}

.new-building-button {
  transition: ease all 0.1s;
}
.new-building-button:hover {
  transform: scale(1.03);
}
.new-building-button:active {
  transform: scale(0.97);
}

.my-buildings-button {
  transition: ease all 0.1s;
}
.my-buildings-button:hover {
  transform: scale(1.03);
}
.my-buildings-button:active {
  transform: scale(0.97);
}

.home-logout-button {
  background-color: rgb(110, 0, 0);
  width: fit-content;
  align-self: center;
  transition: all ease 0.1s;
}

.home-logout-button:hover {
  background-color: rgb(147, 1, 1);
}

.home-logout-button:active {
  background-color: rgb(194, 2, 2);
}

.createAccountHeader {
  cursor: pointer;
}

.formContainer {
  display: grid;
  place-items: center;
}

.registerLinkPhrase {
  font-size: small;
  margin: 6px;
  text-align: right;
  align-self: flex-end;
}

.registerLink {
  text-decoration: underline;
  font-weight: bold;
}

.formDetails {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.errorMessage {
  background-color: rgba(205, 56, 45, 0.84);
  color: white;
  width: fit-content;
  font-size: small;
  padding: 5px 10px;
  border-radius: 2px;
  margin-top: 5px;
}

.residents-list {
  list-style: none;
}

.addUser-search-item-container {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  padding: 10px 0 10px 25px;
  width: 250px;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.063);
}

.addUser-search-item {
  cursor: pointer;
  list-style: none;
  margin-bottom: 5px;
}

.messageBoard-navBar {
  display: flex;
  justify-content: space-between;
}

.posts-form {
  display: flex;
  justify-content: space-between;
}

.post-submit-button {
  background-color: rgb(22, 22, 22);
  border: none;
  color: white;
  border-radius: 15px;
  padding: 10px;
  margin-left: 10px;
}

.remove-resident {
  background-color: rgb(110, 0, 0);
  padding: 2px 5px;
  margin-right: 15px;
  font-size: xx-small;
  transform: translateY(-3px);
}

.posts-ul {
  padding: 0;
  list-style-type: none;
  width: 300px;
  height: 550px;
  overflow-y: scroll;
  padding: 0 10px;
  display: flex;
  flex-direction: column-reverse;
}

.post-li-author-currentUser {
  margin: 5px;
  font-size: x-small;
  text-align: right;
}
.post-li-author-anotherUser {
  margin: 5px;
  font-size: x-small;
  text-align: left;
}

.post-li-author-name {
  font-weight: bold;
}

.post-li-content-currentUser {
  display: flex;
  justify-content: flex-end;
  color: white;
  width: fit-content;
  background-color: #6b6d6b;
  border-radius: 15px 0 15px 15px;
  padding: 5px 10px;
  margin-top: 0;
  margin-left: auto; /* Push to the right with automatic margin */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.041);
  text-align: right;
}

.post-li-content-anotherUser {
  display: flex;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 0.931);
  width: fit-content;
  border-radius: 0 15px 15px 15px;
  padding: 5px 10px;
  margin-top: 0;
  margin-right: auto; /* Push to the left with automatic margin */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.041);
}

.userInfoContainer {
  display: grid;
  place-items: center;
  /* height: 100vh; */
}

.userInfo {
  border-radius: 15px;
  box-shadow: 0 4px 20px hsla(0, 0%, 0%, 0.2);
  padding: 16px;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 1px;
  margin: 15px 0;
}

.buildingsList-ul {
  list-style-type: none;
  padding: 2px;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buildingsList-item {
  border: double white 8px;
  border-radius: 15px;
  width: fit-content;
  min-width: 200px;
  margin-bottom: 15px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  transition: all ease 0.2s;
  transform: rotate(-0.9deg);
  background: radial-gradient(
    circle,
    rgba(31, 31, 31, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
}

.buildingsList-item:hover {
  transform: rotate(0deg);
  background: radial-gradient(circle, rgb(47, 59, 85) 0%, rgb(1, 1, 1) 100%);
  transform: scale(1.02);
  box-shadow: 0 8px 6px rgba(0, 0, 0, 0.1);
}

.createAccountHeader h3 {
  color: black;
}

.buildingsList-item h2,
.buildingsList-item h3,
.buildingsList-item h4 {
  margin: 0;
  padding: 0px;
  color: white;
  text-align: center;
}

.buildingsList-item h2 {
  font-size: xx-large;
  margin: 0;
  padding: 0;
}
.buildingsList-item h4 {
  margin-bottom: 5px;
}

.message-board {
  transform: scale(0.8);
  transition: ease all 0.1s;
}
.message-board:hover {
  transform: scale(0.85);
}
.message-board:active {
  transform: scale(0.83);
}

.residents-at {
  padding-bottom: 0;
  margin-bottom: 10px;
  text-align: center;
}

.building-address-street {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding: 9px 15px;
  margin-inline: auto;
  border: double white 8px;
  border-radius: 15px;
  width: fit-content;
  min-width: 200px;
  margin-bottom: 15px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  transition: all ease 0.2s;
  transform: rotate(-0.9deg);
  background: radial-gradient(
    circle,
    rgba(31, 31, 31, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
}

.building-address-street h1,
.building-address-street p {
  padding: 0;
  margin: 0;
}

.edit-remove-building-container {
  display: flex;
  justify-content: space-evenly;
}

.edit-building-form {
  display: flex;
  flex-direction: column;
}
