.createAccountHeader {
  cursor: pointer;
}

.formContainer {
  display: grid;
  place-items: center;
}

.loginForm {
  background-color: whitesmoke;
  padding: 25px 15px;
  border-top: solid 7px rgb(140, 150, 120);
  border-radius: 15px;
  box-shadow: 0px 5px 19px hsla(0, 0%, 53%, 0.4);
}

.loginForm h2 {
  text-align: left;
  font-size: x-large;
  font-weight: bold;
  margin: 4px 0 20px 0;
}

.registerLinkPhrase {
  font-size: small;
  margin: 6px;
  text-align: right;
}
.registerLink {
  text-decoration: underline;
  font-weight: bold;
}

.formDetails {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.formDetails button {
  background-color: rgb(140, 150, 120);
  color: white;
  font-weight: bold;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 12px;
}
.errorMessage {
  background-color: rgb(205, 56, 45);
  color: white;
  width: fit-content;
  font-size: small;
  padding: 5px;
  border-radius: 5px;
  margin-top: 5px;
}
