.userInfoContainer {
  display: grid;
  place-items: center;
  /* height: 100vh; */
}

.userInfoContainer button {
  background-color: rgb(205, 56, 45);
  color: white;
  font-weight: bold;
  padding: 5px;
  border-radius: 5px;
  margin-top: 15px;
  border: none;
  cursor: pointer;
}

.userInfo {
  border-radius: 15px;
  box-shadow: 0 4px 20px hsla(0, 0%, 0%, 0.2);
  padding: 16px;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 1px;
  margin: 15px 0;
}
.userInfo span {
  font-weight: bold;
}
